{% extends 'stdgrid.html.twig' %}

{% block title %}{% trans %}%page_title%{% endtrans %}{% endblock %}

{% block body %}
    <div class="frame-section frame-section-padding">
        <h2 class="frame-section-title">{% trans %}%page_title%{% endtrans %}</h2>
        {% if add_collection %}
            <div class="frame-section section-form">
                {{ form(add_collection) }}
            </div>
        {% endif %}
        <div class="frame-section collections-list">
            <h3>{% trans %}%list_title%{% endtrans %}</h3>
            {% for col in collections %}
                <div class="collection-item">
                    <a class="name" href="{{ fn.getUrl(col.id) }}">{{ col.name }}</a>
                    <details title="Expand if you want to edit the collection's name">
                        <summary>
                            <span class="collection-action">{{ icon('edit') | raw }}</span>
                        </summary>
                        {{ form(fn.editForm(col)) }}
                    </details>
                    <details title="Expand if you want to delete the collection">
                        <summary>
                            <span class="collection-action">{{ icon('delete') | raw }}</span>
                        </summary>
                        {{ form(fn.rmForm(col)) }}
                    </details>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
