{% extends 'stdgrid.html.twig' %}
{% block title %}{% trans %}Create a blog post{% endtrans %}{% endblock %}

{% block body %}
    {{ parent() }}
    <section class="frame-section frame-section-padding">
        <h1>{% trans %}Create a blog post{% endtrans %}</h1>
        {{ form(blog_entry_form) }}
    </section>
{% endblock body %}
