{% extends 'base.html.twig' %}
{% import "/cards/macros/note/factory.html.twig" as NoteFactory %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {% if note is defined or actor is defined %}
        <div class="frame-section-padding">
            {% if note is defined and note is not null %}
                {% set args = { 'type': 'vanilla_full', 'note': note, 'extra': { 'depth': 0 } } %}
                {{ NoteFactory.constructor(args) }}
            {% elseif actor is defined and actor is not null  %}
                {% include 'cards/blocks/profile.html.twig' with {'actor': actor} only %}
            {% endif %}
        </div>
    {% endif %}
    {% if tags_form is not null %}
        <p>{{ label }}</p>
        {{ form(tags_form) }}
    {% endif %}
    <div class="frame-section-button-like">
        <a href="{{ url('settings', {'open': 'settings-muting-' ~ type ~ '-tags-details'}) }}">{% trans %}Go to %type% muting settings{% endtrans %}</a>
    </div>
{% endblock %}
