{% import '/cards/macros/note/factory.html.twig' as NoteFactory %}

<section class="frame-section frame-section-padding">
    <div class="section-title">
        <span class="heading-no-margin">
            {% trans %}Related notes{% endtrans %}
        </span>
    </div>

    {% for note in related_notes %}
        {% set args = { 'type': 'vanilla_compact', 'note': note } %}
        {{ NoteFactory.constructor(args) }}
    {% endfor %}
</section>
