<section class="frame-section frame-section-padding">
    <div class="section-title">
        <span class="heading-no-margin">
            {% trans %}Attachment tags{% endtrans %}
        </span>
    </div>

    {% for tag in related_tags %}
        <i>#{{ tag['tag'] }}</i>
    {% else %}
        {% trans %}No tags{% endtrans %}
    {% endfor %}
</section>
